*
{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ko
{
    width: 500px;
    height: fit-content;
    text-align: center;
    color: red;
     border-radius: 10px;
     border-top: transparent;
}

@media (max-width:678px)
{
  #ko
  {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 10px;
  }
}